<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="page-container contact-container">


<h1>Contact Us</h1>

<form name="contact-form" method="POST" action="/contact">
    <input type="text" name="name" placeholder="Your Name" required><br><br>
    <input type="email" name="email" placeholder="Your Email" required><br><br>
    <textarea name="message" placeholder="Message"></textarea><br><br>
    <button type="submit">Send</button>
</form>

<a href="/">Back Home</a>
    </div>

</body>
</html>