<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Career Advisor</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>


    <nav data-aos="fade-down">
        <div class="logo">AI Career Advisor</div>

        <ul>
           <li><a href="/">Home</a></li>
<li><a href="#features">Features</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
        </ul>

     <a href="/assessment">  <button class="nav-btn">Get Started</button></a>
    </nav>


    <section class="hero" data-aos="fade-up">

        <div class="hero-content" data-aos="fade-right">

            <h1>
                Discover Your Perfect Career Path
                With AI
            </h1>

            <p>
                Analyze your skills, interests, and goals to receive
                personalized career recommendations and a learning roadmap.
            </p>

          <a href="/assessment" class="hero-btn">
    Start Assessment
</a>

        </div>

        <div class="hero-image">
            🤖
        </div>

    </section>



  <section class="stats" data-aos="zoom-in">

    <div class="stat-box">
        <h2>10K+</h2>
        <p>Students Guided</p>
    </div>

    <div class="stat-box">
        <h2>95%</h2>
        <p>Accuracy Rate</p>
    </div>

    <div class="stat-box">
        <h2>50+</h2>
        <p>Career Paths</p>
    </div>

</section>


  
 <section id="features" class="features" data-aos="fade-up">

    <div class="card" data-aos="zoom-in" data-aos-delay="0">
        <h3>Career Prediction</h3>
        <p>Get AI-powered career recommendations.</p>
    </div>

    <div class="card" data-aos="zoom-in" data-aos-delay="100">
        <h3>Skill Gap Analysis</h3>
        <p>Find missing skills required for your dream role.</p>
    </div>

    <div class="card" data-aos="zoom-in" data-aos-delay="200">
        <h3>Learning Roadmap</h3>
        <p>Receive a personalized growth plan.</p>
    </div>

    <div class="card" data-aos="zoom-in" data-aos-delay="300">
        <h3>Resources</h3>
        <p>Get curated learning resources and courses.</p>
    </div>

</section>
</body>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

<script>
  AOS.init({
      duration: 1000,
      once: true
  });
</script>
</html>